body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #a6b5f7;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


h1 {
    margin-top: 0;
    color:#4965e299;
    text-align: left;
    padding: 20px 0;
}

.registrar-usuario {
    padding: 10px;
}

.registrar-usuario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.registrar-usuario select, input[type="text"] {
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.registrar-usuario button {
    background-color: #4965e299;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
    
}